.about-me-container {
  padding: 20px;
  color: #333;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.section {
  background-color: rgba(255, 255, 255, 0.8);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

h1 {
  color: black;
}

h2 {
  color: #4a90e2;
}

h3 {
  color: #333;
  font-weight: bold;
  margin-top: 15px;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
}

pre {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}
.section1 {
  display: flex;
  justify-content: center; /* จัดให้อยู่กลางในแนวนอน */
  align-items: center; /* จัดให้อยู่กลางในแนวตั้ง */
  flex-direction: column; /* เรียงเนื้อหาในแนวตั้ง */
  text-align: center; /* จัดข้อความให้อยู่ตรงกลาง */
  padding: 0px;
  min-height: 100vh; /* ให้ section ครอบคลุมความสูงทั้งหมดของหน้าจอ */
  background-color: rgba(255, 255, 255, 0.9); /* สีพื้นหลังโปร่งแสง */
  border-radius: 10px; /* มุมโค้ง */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* เงา */
}

.section_about h1 {
  font-size: 2.5em;
  color: #003366;
  margin-bottom: 15px;
}

.section_about h2 {
  font-size: 2em;
  color: #00509e;
  margin-bottom: 15px;
}

.section_about h3 {
  font-size: 1.5em;
  color: #333;
  margin-top: 20px;
}

.section_about p {
  font-size: 1.2em;
  color: #555;
  margin-bottom: 10px;
  line-height: 1.6; /* ระยะห่างระหว่างบรรทัด */
}

.section_about img.teacher {
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* เงาสำหรับรูปภาพ */
}

.section_about img.Logo {
  margin: 20px 20px 20px 0; /* เพิ่มระยะห่างทางด้านขวา */
  float: left; /* จัดรูปให้อยู่ทางซ้าย */
}

.section img.Diagram {
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* เงาสำหรับรูปภาพ */
  justify-content: center; /* จัดให้อยู่ตรงกลางแนวนอน */
  align-items: center; /* จัดให้อยู่ตรงกลางแนวตั้ง */
}
