.rules-container {
  padding: 20px;
  color: #333;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: left;
  margin-bottom: 20px; /* เพิ่มระยะขอบด้านล่าง */
}

.section {
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  color: black;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #333;
  margin-top: 20px;
  font-size: 1.2em;
}

p {
  margin: 10px 0;
  font-size: 1em;
  line-height: 1.5;
}

ul {
  margin: 10px 0;
  padding-left: 20px;
  list-style-type: disc;
}

li {
  margin-bottom: 10px;
}

.back-button {
  background-color: #4a90e2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  margin-top: 20px;
  margin-bottom: 30px; /* เพิ่มระยะขอบด้านล่าง */
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
